@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: Titulo;
	src: url('../fontes/Alighty_Nesia.ttf');
}

@font-face {
	font-family: Titulo1;
	src: url('../fontes/Alighty_Nesia.ttf');
}

* {
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: fonte1;
	src: url(../font/Bravary_Script.ttf);
}

@font-face {
	font-family: fonte2;
	src: url(../font/Winter_Insight.ttf);
}

@font-face {
	font-family: fonte3;
	src: url(../font/Rhyme.ttf);
}

@font-face {
	font-family: fonte4;
	src: url(../font/Intense\ Emotion.ttf);
}

@font-face {
	font-family: fonte5;
	src: url(../font/Yellow_Sun.otf);
}

html {
	scroll-behavior: smooth;
}

body {
	background-image: url("../imgs/oi.jpg");
	width: 100%;
	max-width: 100%;
}


/* CONTAINER PRINCIPAL */

#flex-container {
	margin-top: 100px;
	position: relative;
	right: 0;
	overflow-x: hidden;
	background-color: #262626a9;
	background-image: url("../imgs/oi.jpg");
}

/* CABEÇALHO */

.header {
	display: flex;
	justify-content: center;
	background: #262626;
	background-color: #151b24;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	opacity: 1;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 10;
}

.container-header {
	width: 100%;
	flex-direction: row;
	display: flex;
}

.header-mobile {
	display: none;
}

#menu-mobile {
	display: none;
}

.logoHeader {
	display: flex;
	align-items: center;
	width: 20%;
	justify-content: center;
}

.logoHeader img {
	width: 100px;
	height: 100px;
	background-size: 100% 100%;
}

.menu {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: end;
	flex-wrap: wrap;
	position: static;
}

.menu ul {
	list-style-type: none;
	margin: 10px;
	padding: 5px;
	border: 0px solid;
	background-color: transparent;
	width: 100%;
	text-align: center;
}

.menu li {
	display: inline;
	padding: 1px 2%;
	margin: 2px;
	/* border: 1px solid green; */
}

.menu li a {
	text-decoration: none;
	font-size: 18px;
	color: white;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	/* border: 1px solid blue; */
}

.menu li a:hover {
	opacity: 2;
	box-shadow: 0 15px 45px -5px rgb(7 10 25 / 25%);
	-webkit-filter: brightness(1.07);
	filter: brightness(1.07);
	transform: translate(0, -3px);
}

.menu-icons {
	color: rgb(64, 241, 212);
	font-size: 20px;
	margin-left: 10px;

}

#menu-mobile-container {
	display: none;
}

/* ----------------- Body ------------------- */

.body {
	/* border: 1px solid red; 
   width: 100%; */
	display: flex;
	flex-direction: column;
}

.container-body-1 {
	/* border: 1px solid blue;     */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*background-image: url("../imgs/oi.jpg");*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	opacity: 0.8;
	width: 100%;
	background-size: 100% 100%;
	height: 105vh;
}

.top-container-1 {
	/* border: 1px solid red; */
	width: 100%;
	animation: leftToCenter 300ms ease-in;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 30px;
	padding-top: 5%;
}

.logo-1 {
	width: 100%;
	/* border: 1px solid red;  */
	text-align: center;
}

.text-titulo-1 {
	/* border: 1px solid red;   */
	width: 100%;
	text-align: center;
	color: white;
	text-shadow: 2px 2px 1px #000000;
	font-size: 30px;
	font-family: fonte5;
	margin-bottom: 15px;
	margin-top: 0px;
}

.text-titulo-2 {
	/* border: 1px solid red;   */
	width: 100%;
	text-align: center;
	color: white;
	text-shadow: 2px 2px 1px #000000;
	font-size: 30px;
	font-family: fonte5;
	margin-bottom: 15px;
	margin-top: 0px;
}

.text-titulo-3 {
	/* border: 1px solid red;   */
	width: 100%;
	text-align: center;
	color: white;
	text-shadow: 1px 1px 1px #000000;
	font-size: 30px;
	font-family: fonte5;
	margin-bottom: 15px;
	margin-top: 0px;
}

.text-titulo-5 {
	/* border: 1px solid red;   */
	width: 100%;
	text-align: center;
	color: rgb(143, 41, 41);
	text-shadow: 1px 1px 1px #000000;
	font-size: 10px;
	font-family: fonte5;
	margin-bottom: 15px;
	margin-top: 0px;
}

.text-titulo-6 {
	/* border: 1px solid yellow;  */
	margin-top: 10px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.text-titulo-7 {
	/* border: 1px solid yellow;  */
	margin-top: 30px;
	width: 80%;
	display: flex;
	justify-content: end;
	flex-wrap: wrap;
}

.text-titulo-8 {
	/* border: 1px solid yellow;  */
	text-align: center;
	width: 78%;
	text-shadow: 1px 1px 1px #000000;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.text-corpo-1 {
	/* border: 1px solid rgb(83, 83, 88);  */
	visibility: visible;
	width: 100%;
	text-align: center;
	color: rgb(255, 255, 255);
	font-size: 23px;
	font-family: Arial, Helvetica, sans-serif;
}

.text-subtitulo {
	width: 100%;
	/*border: 1px solid forestgreen;*/
	text-align: center;
	color: white;
	text-shadow: 1px 1px 1px #000000;
	font-family: fonte5;
}

.bottom-container-1 {
	/* border: 1px solid royalblue;  */
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 100vh;
	padding-bottom: 5%;
}

.bottom-container-2 {
	/* border: 1px solid red;  */
	display: flex;
	flex-direction: row;
	width: 100%;
}

.social-midias {
	/* border: 1px solid red; */
	/* animation: bottomToCenter 500ms ease-in; */
	width: 50%;
	justify-content: center;
	display: flex;
}

.social-midias-footer {
	width: 50%;
	justify-content: center;
	display: flex;
}

.social-midias-footer ul {
	list-style-type: f;
	width: 100%;
	text-align: center;
	background-color: transparent;
	border: 0px solid blue;
}

.social-midias-footer li {
	display: inline;
}

.social-midias ul {
	list-style-type: none;
	width: 100%;
	text-align: center;
	background-color: transparent;
	border: 0px solid blue;
}

.social-midias li {
	display: inline;
}

.fa-facebook-square {
	text-decoration: none;
	font-size: 50px;
	color: #3b5998;
	/* text-shadow: 1px 1px 1px #000000; */
}

.fa-facebook-square:hover {
	transition: ease-in;
	opacity: 1;
	box-shadow: 0 15px 45px -5px rgb(7 10 25 / 25%);
	-webkit-filter: brightness(1.07);
	filter: brightness(1.07);
	transform: translate(0, -3px);
}

.fa-twitter-square {
	text-decoration: none;
	font-size: 50px;
	color: #00acee;
}

.fa-twitter-square:hover {
	transition: ease-in;
	opacity: 1;
	box-shadow: 0 15px 45px -5px rgb(7 10 25 / 25%);
	-webkit-filter: brightness(1.07);
	filter: brightness(1.07);
	transform: translate(0, -3px);
}

.fa-instagram-square {
	text-decoration: none;
	font-size: 50px;
	color: rgb(185, 27, 172);
}

.fa-instagram-square:hover {
	transition: ease-in;
	opacity: 1;
	box-shadow: 0 15px 45px -5px rgb(7 10 25 / 25%);
	-webkit-filter: brightness(1.07);
	filter: brightness(1.07);
	transform: translate(0, -3px);
}

.img-corpo-4 {
	background: url("../imgs/background.png");
	background-attachment: fixed;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	justify-content: center;
	flex-direction: column;
	padding: 10%;
	display: flex;
	align-items: center;
	height: 110vh;
}

.img-corpo-5 {
	background: url("../imgs/oi.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	padding: 5%;
	padding-bottom: 30%;
	height: 200vh;
	align-items: center;
	/* border: 1px solid green; */
	display: flex;
	justify-content: center;
}

.img-corpo-6 {
	background: url("../imgs/background.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	padding: 3%;
	height: 90vh;
	/* border: 1px solid green;  */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.img-galerry {
	visibility: visible;
	/* border: 2px solid rgb(0, 128, 49); */
	width: 1060px;
	height: 600px;
	cursor: pointer;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: 3px;
}

.container-body-2 {
	height: 105vh;
	background: url("../imgs/fundo.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 100px;
	padding: 5%;
	max-width: 100%;
	/*border: 1px solid green;*/
}

.logoHeaderLog {
	/* border: 1px solid green;  */
	padding: 5%;
	text-shadow: 2px 2px black;
}

.login {
	/* border: 1px solid red;  */
	padding-bottom: 10%;
	padding-top: 10%;
	width: 100%;
	background: url("../imgs/fundo.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image-login {
	/* border: 1px solid green;    */
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding: 2%;
}

.image-cad {
	/* border: 1px solid green;     */
	padding: 5%;
	display: flex;
	justify-content: center;
	background-image: url("../imgs/background.png");
	background-position: left top;
	background-size: cover;
	background-repeat: no-repeat;
}

.central-container {
	width: 100%;
	/* border: 1px solid yellow;    */
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 500px;
}

.box-contato {
	display: flex;
	justify-content: center;
	/* border: 1px solid blue; */
}

.box-container-2 {
	visibility: visible;
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	flex-direction: column;
	border-radius: 5px;
	/* height: 80vh; */
	width: 120%;
}

.logoHeaderCad {
	text-align: center;
	text-shadow: 2px 2px black;
	padding-top: 10%;
	padding-bottom: 10%;
	background-image: url("../imgs/oi.jpg");
	background-position: left top;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 1px;
}

.footer {
	/* border: 1px solid green; */
	padding: 10px;
	background: url("../imgs/oi.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
	align-items: center;
	justify-content: space-around;
	max-width: 100%;
}

.container-footer {
	width: 75%;
	display: flex;
	flex-direction: row;
	padding: 3%;
	justify-content: space-around;
}

.footer-copy {
	/* border: 1px solid red; */
	width: 55%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	visibility: visible;
}

.footer-copy-text {
	color: white;
	/* border: 1px solid white; */
	font-size: 15px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: Arial, Helvetica, sans-serif;
}

.footer-copy-titulo {
	display: flex;
	justify-content: flex-start;
	font-size: 16px;
	color: wheat;
	font-weight: bolder;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
}

.footer-copy-titulo h1 {
	font-size: 10px;
}

.footer-text {
	color: #fff;
	font-size: 15px;
	width: 40%;
	padding: 10px;
	visibility: visible;
	font-family: Arial, Helvetica, sans-serif;
}

.links-footer {
	padding: 5px;
	text-align: center;
}

.links-footer a {
	text-decoration: none;
	color: rgb(255, 196, 0);
}

.footer-titulo {
	color: thistle;
	font-size: 18px;
	font-weight: bolder;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	padding: 5px;
}

.footer-titulo h1 {
	font-size: 20px;
}

.logoHeaderFooter {
	/* border: 1px solid blue; */
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-footer {
	width: 150px;
	height: 150px;
}

.button-fixed {
	width: 25px;
	border: 2px solid rgb(190, 10, 46);
	background: crimson;
	padding: 10px;
	text-align: center;
	cursor: pointer;
	bottom: 10px;
	right: 10px;
	box-shadow: 2px 3px 19px -2px rgba(0, 0, 0, .75);
	z-index: 3;
	position: fixed;
	display: none;
}

.icon-fixed {
	color: #f7f6f5;
	font-size: 20px;
	cursor: pointer;
}

/* ------------------------------------------ */

body {
	background-image: url("../imgs/oi.jpg");
	background-position: left top;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 1px;
}

h1 {
	font-family: Titulo;
	font-size: 80px;
	font-weight: bolder;
	color: #FFF;
}

h2 {
	font-family: Titulo;
	font-size: 26px;
	font-weight: bolder;
}

#container {
	width: 990px;
	height: auto;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#titulo {
	width: 370px;
	height: 130px;
	text-align: center;
	background-image: url(../imgs/titulo_jogo_20.png);
	position: relative;
	margin-left: auto;
	margin-right: auto;
	background-size: 370px 130px;
	background-repeat: no-repeat;
	top: 5px;
}

#fundoGame {
	width: 975px;
	height: 635px;
	background-image: url(../imgs/fundo_game1.png);
	border-color: #ffffff69;
	border-radius: 10px 20px 10px 20px;
	position: relative;
	background-size: 600px 650px;
	background-repeat: no-repeat;
	background-position: center;
	top: 20px;
}

#info {
	position: absolute;
	width: 350px;
	height: 200px;
	left: 710px;
	top: 150px;
	text-align: center;
	line-height: 1px;
	background-color: rgba(243, 238, 225, 0.478);
	border-radius: 12px;
	padding: 5px;
	z-index: 0;
	/* Valor menor que as outras divs */
}

#aluno {
	position: absolute;
	width: 330px;
	height: 40px;
	left: 720px;
	top: 155px;
	text-align: center;
	line-height: 1px;
	background-color: rgba(245, 89, 41, 0.963);
	border-radius: 12px;
	color: #fff;
	padding: 8px;
	font-family: Titulo;
	font-size: 26px;
	font-weight: bolder;
	z-index: 1;
	/* Valor maior que a #info */
}

#placar {
	position: absolute;
	width: 160px;
	height: 50px;
	color: white;
	background-color: rgb(148, 228, 27);
	border-radius: 15px;
	left: 760px;
	top: 210px;
	text-align: left;
	text-indent: 10px;
	line-height: 10px;
	z-index: 1;
	/* Valor maior que a #info */
}

#placar1 {
	position: absolute;
	width: 160px;
	height: 50px;
	color: white;
	background-color: rgba(220, 79, 79, 0.922);
	border-radius: 15px;
	left: 760px;
	top: 260px;
	text-align: left;
	text-indent: 10px;
	line-height: 10px;
	z-index: 1;
	/* Valor maior que a #info */
}

#energia {
	width: 140px;
	height: 140px;
	border-radius: 15px;
	background-color: rgba(231, 245, 245, 0.537);
	position: absolute;
	background-size: 120px 120px;
	left: 920px;
	top: 210px;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 1;
	/* Valor maior que a #info */
}

#cientista {
	width: 94px;
	/* Define a largura do elemento */
	height: 135px;
	/* Define a altura do elemento */
	position: absolute;
	/* Posiciona o elemento de forma absoluta */
	left: 460px;
	/* Define a posição à esquerda do elemento */
	top: 500px;
	/* Define a posição ao topo do elemento */
	background-image: url(../imgs/cientista3.png);
	/* Define a imagem de fundo */
	background-size: 505px 135px;
	/* Ajusta o tamanho do sprite sheet completo */
	background-position: 0 0;
	/* Inicia na primeira posição do sprite sheet */
}

.anima1 {
	width: 94px;
	/* Define a largura do elemento */
	height: 135px;
	/* Define a altura do elemento */
	background-image: url(../imgs/cientista3.png);
	/* Define a imagem de fundo do sprite sheet */
	background-size: 505px 135px;
	/* Ajusta o tamanho do sprite sheet para 6 frames horizontalmente */
	animation: play 0.9s steps(6) infinite;
	/* Define a animação com duração de 0.9 segundos, 6 steps (frames), repetindo infinitamente */
	-webkit-animation: play 0.9s steps(6) infinite;
	/* Animação para navegadores baseados em WebKit */
	-moz-animation: play 0.9s steps(6) infinite;
	/* Animação para navegadores baseados em Mozilla */
	-ms-animation: play 0.9s steps(6) infinite;
	/* Animação para navegadores baseados em Microsoft */
	-o-animation: play 0.9s steps(6) infinite;
	/* Animação para navegadores baseados em Opera */
}

@keyframes play {
	from {
		background-position: 0 0;
	}

	/* Início da animação na primeira posição do sprite sheet */
	to {
		background-position: -505px 0;
	}

	/* Final da animação movendo o background para cobrir todos os 6 frames */
}

@-webkit-keyframes play {
	from {
		background-position: 0 0;
	}

	/* Início da animação na primeira posição do sprite sheet */
	to {
		background-position: -505px 0;
	}

	/* Final da animação movendo o background para cobrir todos os 6 frames */
}

@-moz-keyframes play {
	from {
		background-position: 0 0;
	}

	/* Início da animação na primeira posição do sprite sheet */
	to {
		background-position: -505px 0;
	}

	/* Final da animação movendo o background para cobrir todos os 6 frames */
}

@-ms-keyframes play {
	from {
		background-position: 0 0;
	}

	/* Início da animação na primeira posição do sprite sheet */
	to {
		background-position: -505px 0;
	}

	/* Final da animação movendo o background para cobrir todos os 6 frames */
}

@-o-keyframes play {
	from {
		background-position: 0 0;
	}

	/* Início da animação na primeira posição do sprite sheet */
	to {
		background-position: -505px 0;
	}

	/* Final da animação movendo o background para cobrir todos os 6 frames */
}

#alternativa1 {
	width: 30px;
	height: 60px;
	position: absolute;
	left: 360px;
	top: 50px;
	background-image: url("../imgs/tubo_azul.png");
	background-size: 30px 60px;
	background-repeat: no-repeat;
}

#alternativa2 {
	width: 30px;
	height: 60px;
	position: absolute;
	left: 460px;
	top: 50px;
	background-image: url("../imgs/tubo_vermelho.png");
	background-size: 30px 60px;
	background-repeat: no-repeat;
}

#alternativa3 {
	width: 30px;
	height: 60px;
	position: absolute;
	left: 560px;
	top: 50px;
	background-image: url("../imgs/tubo_verde.png");
	background-size: 30px 60px;
	background-repeat: no-repeat;
}

#alternativa4 {
	width: 30px;
	height: 60px;
	position: absolute;
	left: 660px;
	top: 50px;
	background-image: url("../imgs/tubo_amarelo.png");
	background-size: 30px 60px;
	background-repeat: no-repeat;
}


.pergunta {
	font-family: Titulo;
	font-size: 24px;
	font-weight: bolder;
	background-color: #FFF;
	color: red;
	text-indent: 0px;
	text-align: justify;
	margin-left: 5px;
	margin-right: 0px;
	border-radius: 13px;
	width: 300px;
	padding: 10px;
}

.resposta1,
.resposta2,
.resposta3,
.resposta4 {
	width: 240px;
}

.resposta1 {
	font-family: Titulo1;
	font-size: 22px;
	font-weight: bolder;
	text-indent: 5px;
	color: #FFF;
	background-color: blue;
	text-shadow: 2px 2px black;
	margin-top: 10px;
	margin-left: 7px;
	margin-right: 5px;
	border-radius: 10px;
	padding: 2px;
}

.resposta2 {
	font-family: Titulo1;
	font-size: 22px;
	font-weight: bolder;
	text-indent: 5px;
	color: #FFF;
	background-color: red;
	text-shadow: 2px 2px black;
	margin-top: 17px;
	margin-left: 7px;
	margin-right: 5px;
	border-radius: 10px;
	padding: 2px;
}

.resposta3 {
	font-family: Titulo1;
	font-size: 22px;
	font-weight: bolder;
	text-indent: 5px;
	color: #FFF;
	background-color: green;
	text-shadow: 2px 2px black;
	margin-top: 20px;
	margin-left: 7px;
	margin-right: 5px;
	border-radius: 10px;
	padding: 2px;
}

.resposta4 {
	font-family: Titulo1;
	font-size: 22px;
	font-weight: bolder;
	text-indent: 5px;
	color: #FFF;
	background-color: #e6e600;
	text-shadow: 2px 2px black;
	margin-top: 24px;
	margin-left: 7px;
	margin-right: 5px;
	border-radius: 10px;
	padding: 2px;
}


#raio {
	width: 30px;
	height: 60px;
	position: absolute;
	background-image: url(../imgs/raio13.png);
	background-size: 30px 60px;
	background-repeat: no-repeat;
}

#explosao1 {
	width: 70px;
	height: 70px;
	position: absolute;
	background-size: 70px 70px;
	background-repeat: no-repeat;
}

#explosao2 {
	width: 70px;
	height: 70px;
	position: absolute;
	background-size: 70px 70px;
	background-repeat: no-repeat;
}

#mensagemInicial {
	width: 600px;
	height: 350px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 90px;
	background-image: url(../imgs/fundo_mensagem.png);
	background-repeat: no-repeat;
	background-size: 600px 350px;
	background-position: bottom;
}

fieldset {
	border: none;


}

legend {
	background-color: orange;
	border-radius: 5px;
	color: #fff;
	font-size: 24px;
	padding: 5px;
	width: 680px;
	font-weight: bolder;
	font-family: titulo;
}

ul {
	background-color: white;
	border: 1px solid white;
	list-style: none;
	margin: 5px;
	border-radius: 5px;
	padding: 3px;
}

#mensagemScore {
	width: 680px;
	height: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 90px;
	font-family: Titulo;
	font-size: 18px;
	font-weight: bolder;
	color: #000099;
	text-align: center;
}

#mensagemFinal {
	width: 680px;
	height: 350px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 90px;
	background-image: url(../imgs/fundo_final.png);
	background-repeat: no-repeat;
	background-size: 600px 350px;
	background-position: bottom;
	background-position: bottom;
}